@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    /* color */
    --primary: #F59F33;
    --primary-light: #FCCC73;
    --dark-brown: #341413;
    --gray-1: #798092;
    --gray-2: #E6E6ED;
    --white: #ffffff;

    /* font size desk */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    /* font weight */
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

body{
    font-family: 'Poppins', sans-serif;
}
/* button primary */
.btn{
    padding: 15px 25px;
    border-radius: 6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    border: none;
}

.btn-primary{
    background-color: var(--primary);
    
}

.btn-primary:focus{
    background-color: var(--primary-light);
}

.btn-primary:hover{
    background-color: var(--primary-light);
}

/* button secondary */
.btn-secondary{
    background-color: var(--gray-2);
    color: var(--gray-1);
}

.btn-secondary:focus{
    background-color: var(--white);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1);
}

.btn-secondary:hover{
    background-color: var(--white) !important;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1);
}

/* navbar */
.navbar-brand img{
    padding-right: 16px;
}

.navbar-brand span{
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
    color: var(--dark-brown);
}

.navbar {
    padding: 48px 0;
}

a.nav-link{
    margin-right: 39px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    color: var(--dark-brown) !important;
}

/* hero */
section.hero{
    margin: 5rem 0;
}

.text-label,
.text-hero-bold,
.text-hero-regular {
    margin: 24px 0;
}

.text-label{
    color: var(--primary);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.text-hero-bold{
    color: var(--dark-brown);
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
}

.text-hero-regular{
    color: var(--gray-1);
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}

.testimoni-brand{
    padding: 24px 0;
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, #F59F33 0%, #FCCC73 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* showcase */
  .showcase .showcase-text {
    padding: 3rem;
  }
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }

  /* page to top */
  .scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
  }
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: #fff;
  }
  .scroll-to-top:hover {
    background: #343a40;
  }
  .scroll-to-top i {
    font-weight: 800;
  }

  
/* desktop version */

@media (min-width: 1399.98px){

    .container{
        width: 84%;
    }
    /* testimoni brand */
    .testimoni-brand{
        padding: 4rem 5rem;
    }
}

/* mobile version */
@media (max-width: 576px){
    /* navbar */
    .navbar{
        padding: 28px 0;
    }
    a.nav-link{
        margin-right: 7px 0;
    }

    /* hero */
    section.hero{
        margin: 2rem 0;
        text-align: center;
    }
    .btn{
        display: block;
        margin: 1rem 0;
    }
    .ms-3{
        margin-left: 0 !important;
    }
    .text-label,
    .text-hero-bold,
    .text-hero-regular {
        text-align: center;
    }
    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }
    section.hero img{
        margin: 2rem 0;
    }
    /* showcase */
    .showcase .showcase-text {
        padding: 3rem;
      }
   
}
/* tablet version */
@media (max-width: 768px){
    /* navbar */
    .navbar{
        padding: 28px 0;
    }
    a.nav-link{
        margin-right: 7px 0;
    }

    /* hero */
    section.hero{
        margin: 1rem 0;
    }

    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }
    section.hero img{
        margin: 2rem 0;
    }

    /* showcase */
    .showcase .showcase-text {
        padding: 7rem;
      }
}

/* tablet medium version */
@media (max-width: 992px){
    /* navbar */
    .navbar{
        padding: 28px 0;
    }
    a.nav-link{
        margin-right: 7px 0;
    }

    /* hero */
    section.hero{
        margin: 1rem 0;
    }

    .text-hero-bold{
        font-weight: var(--font-weight-bold);
        font-size: var(--header-3);
        line-height: 64px;
    }
    section.hero img{
        margin: 2rem 0;
    }
}